{
  "printWidth": 200,
  "singleQuote": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "htmlWhitespaceSensitivity": "ignore",
  "semi": true,
  "prettier.trailingComma": "none",
  "trailingComma": "none"
}
